:root {
  --title-color: #513883;
  --primary-color: #34cb79;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-family: "Ubuntu", sans-serif;
}
body {
  background: #f0f0f5;
  -webkit-font-smoothing: atialiased;
}
a {
  text-decoration: none;
}